</body>
<footer>
  <div class="bottom ">
    <h2>Get In Touch</h2>
    <a class="btn " href="https://github.com/dalveer16/dalveer">Github</a>
    <a class="btn footer-link " href="https://www.linkedin.com/in/dalveer-singh-24114116b/">LinkedIn</a>
    <a class="btn footer-link " href="https://twitter.com/">Twitter</a>
    <p class="copyright">© 2020 All Copyrigt reserved.</p>
  </div>
</footer>
</html>
